<h2>Kullanıcı Listesi</h2>

<div class="container" style="margin-top:100px">

    <table class="table table-hover">
        
        <thead>
          <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanici Adı</th>
            <th>Email</th>
            <th>İşlemler</th>
          </tr>
        </thead>

        <tbody>

            <%for(var i=0;i<kullanicilar.length;i++){%>

                <%if(i%2==0){%>
                    <tr class="info">
                <%}else{%>
                    <tr class="warning">
                <%}%>
          
            <th><%=i+1%></th>
            <th><%=kullanicilar[i].ad%></th>
            <th><%=kullanicilar[i].soyad%></th>
            <th><%=kullanicilar[i].kullaniciAdi%></th>
            <th><%=kullanicilar[i].email%></th>
            <th><a href="/login/kullaniciSil/<%=kullanicilar[i].kullaniciAdi%>">Sil</a></th>
          </tr>
            <%}%>
          
        </tbody>

    </table>
</div>